* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { background: #ececec; font-family: Tahoma, Arial,sans-serif; font-weight: normal; font-size: 11px; -webkit-transform: translate3d(0, 0, 0); -weblit-backface-visibility: hidden; }

a img, fieldset { border: none; }

a { color: #37559a; text-decoration: none; }

li { list-style: none; }

input, textarea, button { border: none; outline: none; font-family: Arial,sans-serif; }

button { line-height: 1; cursor: pointer; }

table { border-spacing: 0; border-collapse: collapse; }

.h2 { font-family: Georgia, Tahoma, sans-serif; font-size: 16px; color: #000; }

.h3 { font-size: 14px; }

.wrap { width: 1060px; margin: 0 auto; background: #fff; border: 1px solid #d0d0d0; border-width: 0	1px 0 1px; }
