.actions { margin: 0 -5px 5px -5px; overflow: hidden; }

.action { float: left; width: 50%; }

.action__inner { padding: 5px; }

.action_big { width: 100%; }

.action_adv { width: 50%; }
@media only screen and (min-width: 1600px) and (max-width: 1900px) { .action_adv { display: none; } }
@media only screen and (min-width: 1900px) { .action_adv { display: none; } }

.action_adv-inner { height: 353px; line-height: 353px; margin: 5px; background: gray; border-bottom: 1px solid #ddd; }
.action_adv-inner span { display: block; text-align: center; font-size: 20px; color: #fff; }

.action_medium { width: 50%; }

.action_small { width: 33.3333%; }

.action_smallest { width: 33.3333%; }

.action__pic { position: relative; display: block; height: 250px; background-position: 50% 50%; background-repeat: no-repeat; }

.action__discount { position: absolute; left: 20px; bottom: 20px; width: 80px; height: 80px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #e41f32; text-align: center; color: #fff; }
.action__discount strong { display: block; padding-top: 17px; margin-bottom: -5px; font-size: 27px; }
.action__discount span { font-size: 12px; text-transform: uppercase; }

.action__brand { height: 150px; padding-left: 20px; line-height: 150px; }

.action__logo { display: inline-block; vertical-align: middle; line-height: 1; }
.action__logo img { display: block; }
.action__logo img:nth-child(2) { margin-top: 28px; }

.action__desc { padding: 18px 20px; background: #fff; border-bottom: 1px solid #ddd; }

.action__title a { font-size: 18px; color: #006699; }
.action__title p { margin: 7px 0; font-size: 14px; }

.action__info { overflow: hidden; }

.action__time { position: relative; padding-left: 18px; font-size: 11px; }
.action__time i { position: absolute; top: 0; left: 0; background: url('../img/icons-sfb87c8e1ff.png') 0 -787px no-repeat; width: 13px; height: 13px; }

.action__view { float: right; font-size: 11px; }
.action__view a { margin-right: 3px; color: #006699; text-decoration: underline; }
.action__view i { font-style: normal; color: #e41f32; }

.banner { height: 125px; margin-bottom: 10px; background: #808080; }

.soon { margin-bottom: 30px; background: #fff; border-bottom: 1px solid #ddd; }

.soon__title { padding: 18px 20px 10px 20px; }

.soon__list { padding: 0 10px; overflow: hidden; }
.soon__list ul { position: relative; bottom: -10px; overflow: hidden; }
.soon__list li { float: left; width: 25%; padding: 8px 10px; box-sizing: border-box; }
@media only screen and (min-width: 1220px) and (max-width: 1600px) { .soon__list li { width: 20%; } }
@media only screen and (min-width: 1600px) and (max-width: 1900px) { .soon__list li { width: 16.666%; } }

.soon__desc { border-bottom: 1px solid #ddd; }
.soon__desc a { font-size: 14px; font-weight: bold; }
.soon__desc a:hover { color: #e41f32; }
.soon__desc a:visited { color: #663366; }
.soon__desc p { height: 36px; padding: 5px 0 16px 0; }

.about { margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px solid #ddd; }
.about .h2 { padding: 0 0 10px 20px; }

.about__list { padding: 0 10px; overflow: hidden; }
.about__list li { float: left; width: 33.3333%; padding: 8px 10px; box-sizing: border-box; }
@media only screen and (min-width: 1600px) and (max-width: 1900px) { .about__list li { width: 16.6666%; } }

.about__price, .about__prod, .about__return, .about__help, .about__info, .about__conf { position: relative; padding-left: 56px; }
.about__price i, .about__prod i, .about__return i, .about__help i, .about__info i, .about__conf i { position: absolute; top: 9px; left: 0; }
.about__price strong, .about__prod strong, .about__return strong, .about__help strong, .about__info strong, .about__conf strong { display: block; margin-bottom: 5px; font-size: 14px; }
.about__price p, .about__prod p, .about__return p, .about__help p, .about__info p, .about__conf p { padding-bottom: 15px; }

.about__price i { background: url('../img/icons-sfb87c8e1ff.png') 0 -135px no-repeat; width: 36px; height: 37px; }

.about__prod i { background: url('../img/icons-sfb87c8e1ff.png') 0 -323px no-repeat; width: 36px; height: 37px; }

.about__return i { background: url('../img/icons-sfb87c8e1ff.png') 0 -229px no-repeat; width: 36px; height: 37px; }

.about__help i { background: url('../img/icons-sfb87c8e1ff.png') 0 -88px no-repeat; width: 36px; height: 37px; }

.about__info i { background: url('../img/icons-sfb87c8e1ff.png') 0 -276px no-repeat; width: 36px; height: 37px; }

.about__conf i { background: url('../img/icons-sfb87c8e1ff.png') 0 -182px no-repeat; width: 36px; height: 37px; }

.clothes { margin-bottom: 20px; padding: 0 20px; }
.clothes li { padding: 18px 0; border-top: 1px solid #ddd; }
.clothes li:first-child { border: none; }
.clothes .h2 { margin-bottom: 15px; }

.clothes__column { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 20px; -moz-column-gap: 20px; column-gap: 20px; }
.clothes__column p { padding-bottom: 15px; }
@media only screen and (min-width: 1220px) and (max-width: 1600px) { .clothes__column { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; } }
@media only screen and (min-width: 1600px) and (max-width: 1900px) { .clothes__column { -webkit-column-count: 4; -moz-column-count: 4; column-count: 4; } }

.clothes_border { border-bottom: 1px solid #ddd; }
