.logo a, .copyright li:first-child a { font: 0/0 a; text-shadow: none; color: transparent; }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { background: #f1f1f1; font-family: Helvetica, Arial, Tahoma, sans-serif; font-weight: normal; font-size: 12px; }

a img, fieldset { border: none; }

a { color: #006699; }

li { list-style: none; }

input, textarea, button { border: none; outline: none; font-family: Arial,sans-serif; }

button { line-height: 1; cursor: pointer; }

table { border-spacing: 0; border-collapse: collapse; }

.h2 { font-size: 18px; font-weight: normal; color: #000; }

.h3 { font-size: 14px; }

.wrap, .container { margin: 0 50px; }
@media only screen and (min-width: 1280px) and (max-width: 1650px) { .wrap, .container { width: 1180px; margin: 0 auto; } }

.header { height: 50px; background: #009ccf; }

.logo { float: left; margin: 11px 0 0 20px; }
.logo a { display: block; background: url('../img/icons-s4bdd4937d5.png') 0 0 no-repeat; width: 128px; height: 26px; }

.nav { padding-top: 16px; }
.nav ul { text-align: center; }
.nav li { display: inline-block; padding: 0 40px; }
.nav a { font-size: 14px; color: #fff; font-weight: bold; text-decoration: none; text-transform: uppercase; }

.card-link { position: relative; float: right; margin: 16px 20px 0 0; padding-right: 30px; font-family: Arial, Tahoma, sans-serif; font-size: 14px; color: #fff; font-weight: bold; text-decoration: none; text-transform: uppercase; }
.card-link span { position: absolute; top: 0; right: 0; background: url('../img/icons-s4bdd4937d5.png') 0 -794px no-repeat; width: 19px; height: 14px; }
.card-link b { position: absolute; top: -7px; right: -7px; padding: 0 4px; background: #e41f32; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; font-size: 11px; }

.profile { height: 52px; margin-bottom: 20px; background: #ededed; -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 2px 4px; -moz-box-shadow: rgba(0, 0, 0, 0.08) 0 2px 4px; box-shadow: rgba(0, 0, 0, 0.08) 0 2px 4px; border-bottom: 1px solid #dedede; }

.profile__subscribe { float: left; padding: 18px 0 0 20px; color: #333333; }
.profile__subscribe a { color: #006699; font-weight: bold; text-decoration: underline; }

.profile__account { float: right; padding: 18px 20px 0 0; }
.profile__account a { color: #006699; font-weight: bold; text-decoration: underline; }

.profile__info { float: right; position: relative; width: 251px; height: 53px; margin-right: 20px; }

.user { position: absolute; top: 0; left: 0; width: 251px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; z-index: 10; }
.user ul { display: none; padding-top: 19px; border-top: 1px solid #fff; border-bottom: 1px solid #c6c6c6; }
.user li { position: relative; margin-bottom: 19px; padding-left: 45px; }
.user li i { position: absolute; top: 0; left: 20px; }
.user .user__exit { border: none; }
.user.active { background: #f1f1f1; -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 15px; -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 15px; box-shadow: rgba(0, 0, 0, 0.1) 0 0 15px; }
.user.active .user__mail { border-bottom: 1px solid #c6c6c6; }
.user.active .user__mail button { color: #e41f32; border-color: #e41f32; }
.user.active .user__mail i { background: url('../img/icons-s4bdd4937d5.png') 0 -844px no-repeat; width: 7px; height: 4px; }
.user.active .user__mail em { display: none; }
.user.active ul { display: block; }

.user__mail { display: block; width: 251px; height: 52px; padding-left: 20px; line-height: 52px; text-align: left; }
.user__mail span { position: relative; border-bottom: 1px dashed #006699; font-size: 12px; font-weight: bold; color: #006699; }
.user__mail i { position: absolute; top: 5px; right: -16px; background: url('../img/icons-s4bdd4937d5.png') 0 -858px no-repeat; width: 7px; height: 4px; }
.user__mail em { position: absolute; top: 19px; right: 0; height: 12px; border-right: 1px solid #ccc; }

.user__orders a, .profile__returns a, .user__exit a { font-weight: bold; }

.user__id i { background: url('../img/icons-s4bdd4937d5.png') 0 -818px no-repeat; width: 16px; height: 16px; }

.user__orders i { background: url('../img/icons-s4bdd4937d5.png') 0 -498px no-repeat; width: 16px; height: 16px; }

.user__returns i { background: url('../img/icons-s4bdd4937d5.png') 0 -524px no-repeat; width: 16px; height: 16px; }

.user__setting i { background: url('../img/icons-s4bdd4937d5.png') 0 -416px no-repeat; width: 16px; height: 16px; }

.user__subscribe i { background: url('../img/icons-s4bdd4937d5.png') 0 -606px no-repeat; width: 16px; height: 16px; }

.user__account i { background: url('../img/icons-s4bdd4937d5.png') 0 -688px no-repeat; width: 16px; height: 16px; }

.user__expected i { background: url('../img/icons-s4bdd4937d5.png') 0 -442px no-repeat; width: 16px; height: 16px; }

.user__likes i { background: url('../img/icons-s4bdd4937d5.png') 0 -632px no-repeat; width: 16px; height: 16px; }

.user__friend i { background: url('../img/icons-s4bdd4937d5.png') 0 -768px no-repeat; width: 16px; height: 16px; }

.user__exit i { background: url('../img/icons-s4bdd4937d5.png') 0 -580px no-repeat; width: 16px; height: 16px; }

.footer { padding: 20px 0; background: #000; }
.footer .container { overflow: hidden; }

.copyright { float: left; }
.copyright li { margin-bottom: 5px; }
.copyright li:first-child { margin-bottom: 12px; }
.copyright li:first-child a { display: block; background: url('../img/icons-s4bdd4937d5.png') 0 -36px no-repeat; width: 127px; height: 26px; }
.copyright a { color: #fff; }
.copyright a:hover { color: #e41f32; }

.footer__nav { float: left; }
.footer__nav ul { float: left; }
.footer__nav li { margin-bottom: 5px; }
.footer__nav li:first-child { padding: 7px; font-size: 14px; font-weight: bold; color: #fff; }
.footer__nav a { color: #fff; }
.footer__nav a:hover { color: #e41f32; }

.footer__adress { float: left; color: #fff; }
.footer__adress strong { display: block; padding: 7px 0; margin-bottom: 5px; font-size: 14px; }
.footer__adress p { padding-top: 10px; }

.footer__social { float: left; color: #fff; }
.footer__social li { margin-bottom: 15px; }
.footer__social li:first-child { display: block; padding: 7px 0; margin-bottom: 5px; font-size: 14px; font-weight: bold; }
.footer__social a { position: relative; padding-left: 30px; color: #fff; }
.footer__social a:hover { color: #e41f32; }
.footer__social a:hover i { background-color: #e41f32; -webkit-box-shadow: #e41f32 0 0 15px 2px; -moz-box-shadow: #e41f32 0 0 15px 2px; box-shadow: #e41f32 0 0 15px 2px; }
.footer__social i { position: absolute; top: -4px; left: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

.footer__social-vk i { background: url('../img/icons-s4bdd4937d5.png') 0 -550px no-repeat; width: 20px; height: 20px; }

.footer__social-fb i { background: url('../img/icons-s4bdd4937d5.png') 0 -658px no-repeat; width: 20px; height: 20px; }

.footer__social-pr i { background: url('../img/icons-s4bdd4937d5.png') 0 -468px no-repeat; width: 20px; height: 20px; }

.payment { float: left; padding-top: 15px; }
.payment li { margin-bottom: 20px; }

.payment__vs { background: url('../img/icons-s4bdd4937d5.png') 0 -385px no-repeat; width: 35px; height: 21px; }

.payment__mc { background: url('../img/icons-s4bdd4937d5.png') 0 -354px no-repeat; width: 35px; height: 21px; }

.payment__pb { background: url('../img/icons-s4bdd4937d5.png') 0 -714px no-repeat; width: 35px; height: 21px; }

.logo a, .copyright li:first-child a { font: 0/0 a; text-shadow: none; color: transparent; }

/*styles for layouts*/
.logo a, .copyright li:first-child a { font: 0/0 a; text-shadow: none; color: transparent; }

.actions { margin: -5px; overflow: hidden; }

.action { float: left; width: 50%; }

.action__top { padding: 5px; }

.action_big { width: 100%; }

.action_medium { width: 50%; }

.action_small { width: 33.3333%; }

.action_smallest { width: 33.3333%; }

.action__pic { position: relative; height: 250px; background-position: 50% 50%; background-repeat: no-repeat; }

.action__discount { position: absolute; left: 20px; bottom: 20px; width: 80px; height: 80px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #e41f32; text-align: center; color: #fff; }
.action__discount strong { display: block; padding-top: 17px; margin-bottom: -5px; font-size: 27px; }
.action__discount span { font-size: 12px; text-transform: uppercase; }

.action__brand { height: 150px; padding-left: 20px; line-height: 150px; }

.action__logo { display: inline-block; vertical-align: middle; line-height: 1; }
.action__logo img { display: block; }
.action__logo img:nth-child(2) { margin-top: 28px; }

.action__desc { padding: 18px 20px; background: #fff; }

.action__title span { font-size: 18px; color: #006699; text-decoration: underline; }
.action__title p { margin: 7px 0; font-size: 14px; }

.action__info { overflow: hidden; }

.action__time { position: relative; padding-left: 18px; font-size: 11px; }
.action__time i { position: absolute; top: 0; left: 0; background: url('../img/icons-s4bdd4937d5.png') 0 -745px no-repeat; width: 13px; height: 13px; }

.action__view { float: right; font-size: 11px; }
.action__view span { margin-right: 3px; color: #006699; text-decoration: underline; }
.action__view i { font-style: normal; color: #e41f32; }

.banner { height: 125px; margin-bottom: 10px; background: #808080; }

.soon { margin-bottom: 30px; background: #fff; border-bottom: 1px solid #ddd; }

.soon__title { padding: 18px 20px 10px 20px; }

.soon__list { padding: 0 10px; overflow: hidden; }
.soon__list ul { position: relative; bottom: -10px; overflow: hidden; }
.soon__list li { float: left; width: 16.66%; padding: 8px 10px; box-sizing: border-box; }

.soon__desc { border-bottom: 1px solid #ddd; }
.soon__desc a { font-size: 14px; font-weight: bold; }
.soon__desc a:hover { color: #e41f32; }
.soon__desc a:visited { color: #663366; }
.soon__desc p { height: 36px; padding: 5px 0 16px 0; }

.about { margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px solid #ddd; }
.about .h2 { padding: 0 0 10px 20px; }

.about__list { padding: 0 10px; overflow: hidden; }
.about__list li { float: left; width: 16.66%; padding: 8px 10px; box-sizing: border-box; }

.about__price, .about__prod, .about__return, .about__help, .about__info, .about__conf { position: relative; padding-left: 56px; }
.about__price i, .about__prod i, .about__return i, .about__help i, .about__info i, .about__conf i { position: absolute; top: 9px; left: 0; }
.about__price strong, .about__prod strong, .about__return strong, .about__help strong, .about__info strong, .about__conf strong { display: block; margin-bottom: 5px; font-size: 14px; }
.about__price p, .about__prod p, .about__return p, .about__help p, .about__info p, .about__conf p { padding-bottom: 15px; }

.about__price i { background: url('../img/icons-s4bdd4937d5.png') 0 -119px no-repeat; width: 36px; height: 37px; }

.about__prod i { background: url('../img/icons-s4bdd4937d5.png') 0 -307px no-repeat; width: 36px; height: 37px; }

.about__return i { background: url('../img/icons-s4bdd4937d5.png') 0 -213px no-repeat; width: 36px; height: 37px; }

.about__help i { background: url('../img/icons-s4bdd4937d5.png') 0 -72px no-repeat; width: 36px; height: 37px; }

.about__info i { background: url('../img/icons-s4bdd4937d5.png') 0 -260px no-repeat; width: 36px; height: 37px; }

.about__conf i { background: url('../img/icons-s4bdd4937d5.png') 0 -166px no-repeat; width: 36px; height: 37px; }

.clothes { margin-bottom: 20px; padding: 0 20px; }
.clothes li { padding: 18px 0; border-top: 1px solid #ddd; }
.clothes li:first-child { border: none; }
.clothes .h2 { margin-bottom: 15px; }

.clothes__column { -webkit-column-count: 4; -webkit-column-gap: 20px; -moz-column-count: 4; -moz-column-gap: 20px; column-count: 4; column-gap: 20px; }
.clothes__column p { padding-bottom: 15px; }

.clothes_border { border-bottom: 1px solid #ddd; }

.logo a, .copyright li:first-child a { font: 0/0 a; text-shadow: none; color: transparent; }
