.logo a, .copyright li:first-child a { font: 0/0 a; text-shadow: none; color: transparent; }

* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

body { background: #f1f1f1; font-family: Helvetica, Arial, Tahoma, sans-serif; font-weight: normal; font-size: 12px; }

a img, fieldset { border: none; }

a { color: #006699; }

li { list-style: none; }

input, textarea, button { border: none; outline: none; font-family: Arial,sans-serif; }

button { line-height: 1; cursor: pointer; }

table { border-spacing: 0; border-collapse: collapse; }

.h2 { font-size: 24px; font-weight: normal; color: #000; }

.h3 { font-size: 14px; }

.title { height: 64px; line-height: 64px; text-align: center; }

.container { max-width: 1900px; margin: 0 auto; padding: 0 20px; }
@media only screen and (max-width: 980px) { .container { width: 980px; } }
@media only screen and (min-width: 980px) and (max-width: 1220px) { .container { width: auto; } }
@media only screen and (min-width: 1220px) and (max-width: 1600px) { .container { width: auto; } }
@media only screen and (min-width: 1600px) and (max-width: 1900px) { .container { width: auto; } }

.container_oh { overflow: hidden; }

.header { background: #f4f4f4; }
.header .container { position: relative; height: 73px; }

.logo { position: absolute; top: 50%; left: 50%; margin: -21px 0 0 -102px; }
.logo a { display: block; background: url('../img/icons-sfb87c8e1ff.png') 0 0 no-repeat; width: 204px; height: 42px; }

.user-link, .bonus-link { margin-top: 17px; }
.user-link b, .bonus-link b { position: relative; font-size: 14px; text-transform: uppercase; }
.user-link i, .bonus-link i { position: absolute; }
.user-link p, .bonus-link p { margin-top: 6px; }

.user-link { float: left; margin-left: 20px; }
.user-link b { padding-left: 25px; }
.user-link i { top: -2px; left: 0; background: url('../img/icons-sfb87c8e1ff.png') 0 -912px no-repeat; width: 16px; height: 15px; }

.bonus-link { float: right; margin-right: 20px; }
.bonus-link b { display: block; text-align: right; padding-right: 31px; }
.bonus-link i { top: 0px; right: 0; background: url('../img/icons-sfb87c8e1ff.png') 0 -860px no-repeat; width: 22px; height: 16px; }
.bonus-link a { font-weight: bold; }

.nav-wrap { background: #000; font-size: 14px; font-weight: bold; text-transform: uppercase; color: #fff; }

.nav { text-align: center; font-size: 0; }
.nav li { display: inline-block; height: 50px; padding: 0 20px; line-height: 50px; font-size: 14px; }
.nav a { color: #fff; text-decoration: none; }
.nav a.active { padding-bottom: 2px; border-bottom: 2px solid #e41f32; }

.phone { float: left; height: 50px; margin-left: 20px; line-height: 50px; }
.phone b { position: relative; padding-left: 30px; }
.phone i { position: absolute; top: 0; left: 0; background: url('../img/icons-sfb87c8e1ff.png') 0 -730px no-repeat; width: 20px; height: 16px; }

.cart-link { float: right; margin-right: 20px; height: 50px; line-height: 50px; }
.cart-link a { position: relative; padding-right: 32px; color: #fff; text-decoration: none; }
.cart-link i, .cart-link span { position: absolute; }
.cart-link i { top: 1px; right: 9px; background: url('../img/icons-sfb87c8e1ff.png') 0 -836px no-repeat; width: 16px; height: 14px; }
.cart-link span { top: -4px; right: 0; height: 15px; padding: 0 4px; background: #e41f32; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; line-height: 15px; color: #fff; font-size: 12px; font-weight: bold; z-index: 10; }

.footer { position: relative; padding: 20px; background: #000; }
.footer .container { overflow: hidden; }

.footer__left { float: left; width: 80%; }
@media only screen and (max-width: 980px) { .footer__left { float: none; width: 100%; padding-bottom: 15px; margin-bottom: 20px; border-bottom: 1px solid #333; overflow: hidden; } }

.footer__right { float: right; width: 20%; }
@media only screen and (max-width: 980px) { .footer__right { float: none; width: 100%; } }

.copyright, .footer__nav-1, .footer__nav-2, .footer__adress { float: left; }

.copyright { width: 30%; }
.copyright li { margin-bottom: 5px; }
.copyright li:first-child { margin-bottom: 12px; }
.copyright li:first-child a { display: block; background: url('../img/icons-sfb87c8e1ff.png') 0 -52px no-repeat; width: 127px; height: 26px; }
.copyright a { color: #fff; }
.copyright a:hover { color: #e41f32; }

.footer__nav-1 ul, .footer__nav-2 ul { float: left; }
.footer__nav-1 li, .footer__nav-2 li { margin-bottom: 5px; }
.footer__nav-1 li:first-child, .footer__nav-2 li:first-child { padding: 7px; font-size: 14px; font-weight: bold; color: #fff; }
.footer__nav-1 a, .footer__nav-2 a { color: #fff; }
.footer__nav-1 a:hover, .footer__nav-2 a:hover { color: #e41f32; }

.footer__nav-1 { width: 25%; }

.footer__nav-2 { width: 18%; }

.footer__adress { width: 27%; color: #fff; }
.footer__adress strong { display: block; padding: 7px 0; margin-bottom: 5px; font-size: 14px; }
.footer__adress p { padding-top: 10px; }

.footer__social { float: left; color: #fff; }
.footer__social li { margin-bottom: 15px; }
.footer__social a { position: relative; padding-left: 30px; color: #fff; }
.footer__social a:hover { color: #e41f32; }
.footer__social a:hover i { background-color: #e41f32; -webkit-box-shadow: #e41f32 0 0 15px 2px; -moz-box-shadow: #e41f32 0 0 15px 2px; box-shadow: #e41f32 0 0 15px 2px; }
.footer__social i { position: absolute; top: -3px; left: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
@media only screen and (max-width: 980px) { .footer__social { float: none; text-align: center; font-size: 0; }
  .footer__social li { display: inline-block; padding: 0 8px; font-size: 12px; } }
.footer__social .footer__social-title { display: block; padding: 7px 0; margin-bottom: 5px; font-size: 14px; font-weight: bold; }
@media only screen and (max-width: 980px) { .footer__social .footer__social-title { display: none; } }

.footer__social-vk i { background: url('../img/icons-sfb87c8e1ff.png') 0 -566px no-repeat; width: 20px; height: 20px; }

.footer__social-fb i { background: url('../img/icons-sfb87c8e1ff.png') 0 -674px no-repeat; width: 20px; height: 20px; }

.footer__social-pr i { background: url('../img/icons-sfb87c8e1ff.png') 0 -484px no-repeat; width: 20px; height: 20px; }

.payment { float: right; padding-top: 15px; }
.payment li { margin-bottom: 20px; }
@media only screen and (max-width: 980px) { .payment { float: none; text-align: center; font-size: 0; }
  .payment li { display: inline-block; padding: 0 10px; } }

.payment__vs { background: url('../img/icons-sfb87c8e1ff.png') 0 -401px no-repeat; width: 35px; height: 21px; }

.payment__mc { background: url('../img/icons-sfb87c8e1ff.png') 0 -370px no-repeat; width: 35px; height: 21px; }

.payment__pb { background: url('../img/icons-sfb87c8e1ff.png') 0 -756px no-repeat; width: 35px; height: 21px; }

.logo a, .copyright li:first-child a { font: 0/0 a; text-shadow: none; color: transparent; }

/*styles for layouts*/
.logo a, .copyright li:first-child a { font: 0/0 a; text-shadow: none; color: transparent; }

.actions { margin: 0 -5px 5px -5px; overflow: hidden; }

.action { float: left; width: 50%; }

.action__inner { padding: 5px; }

.action_big { width: 100%; }

.action_adv { width: 50%; }
@media only screen and (min-width: 1600px) and (max-width: 1900px) { .action_adv { display: none; } }
@media only screen and (min-width: 1900px) { .action_adv { display: none; } }

.action_adv-inner { height: 353px; line-height: 353px; margin: 5px; background: gray; border-bottom: 1px solid #ddd; }
.action_adv-inner span { display: block; text-align: center; font-size: 20px; color: #fff; }

.action_medium { width: 50%; }

.action_small { width: 33.3333%; }

.action_smallest { width: 33.3333%; }

.action__pic { position: relative; display: block; height: 250px; background-position: 50% 50%; background-repeat: no-repeat; }

.action__discount { position: absolute; left: 20px; bottom: 20px; width: 80px; height: 80px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #e41f32; text-align: center; color: #fff; }
.action__discount strong { display: block; padding-top: 17px; margin-bottom: -5px; font-size: 27px; }
.action__discount span { font-size: 12px; text-transform: uppercase; }

.action__brand { height: 150px; padding-left: 20px; line-height: 150px; }

.action__logo { display: inline-block; vertical-align: middle; line-height: 1; }
.action__logo img { display: block; }
.action__logo img:nth-child(2) { margin-top: 28px; }

.action__desc { padding: 18px 20px; background: #fff; border-bottom: 1px solid #ddd; }

.action__title a { font-size: 18px; color: #006699; }
.action__title p { margin: 7px 0; font-size: 14px; }

.action__info { overflow: hidden; }

.action__time { position: relative; padding-left: 18px; font-size: 11px; }
.action__time i { position: absolute; top: 0; left: 0; background: url('../img/icons-sfb87c8e1ff.png') 0 -787px no-repeat; width: 13px; height: 13px; }

.action__view { float: right; font-size: 11px; }
.action__view a { margin-right: 3px; color: #006699; text-decoration: underline; }
.action__view i { font-style: normal; color: #e41f32; }

.banner { height: 125px; margin-bottom: 10px; background: #808080; }

.soon { margin-bottom: 30px; background: #fff; border-bottom: 1px solid #ddd; }

.soon__title { padding: 18px 20px 10px 20px; }

.soon__list { padding: 0 10px; overflow: hidden; }
.soon__list ul { position: relative; bottom: -10px; overflow: hidden; }
.soon__list li { float: left; width: 25%; padding: 8px 10px; box-sizing: border-box; }
@media only screen and (min-width: 1220px) and (max-width: 1600px) { .soon__list li { width: 20%; } }
@media only screen and (min-width: 1600px) and (max-width: 1900px) { .soon__list li { width: 16.666%; } }

.soon__desc { border-bottom: 1px solid #ddd; }
.soon__desc a { font-size: 14px; font-weight: bold; }
.soon__desc a:hover { color: #e41f32; }
.soon__desc a:visited { color: #663366; }
.soon__desc p { height: 36px; padding: 5px 0 16px 0; }

.about { margin-bottom: 20px; padding-bottom: 15px; border-bottom: 1px solid #ddd; }
.about .h2 { padding: 0 0 10px 20px; }

.about__list { padding: 0 10px; overflow: hidden; }
.about__list li { float: left; width: 33.3333%; padding: 8px 10px; box-sizing: border-box; }
@media only screen and (min-width: 1600px) and (max-width: 1900px) { .about__list li { width: 16.6666%; } }

.about__price, .about__prod, .about__return, .about__help, .about__info, .about__conf { position: relative; padding-left: 56px; }
.about__price i, .about__prod i, .about__return i, .about__help i, .about__info i, .about__conf i { position: absolute; top: 9px; left: 0; }
.about__price strong, .about__prod strong, .about__return strong, .about__help strong, .about__info strong, .about__conf strong { display: block; margin-bottom: 5px; font-size: 14px; }
.about__price p, .about__prod p, .about__return p, .about__help p, .about__info p, .about__conf p { padding-bottom: 15px; }

.about__price i { background: url('../img/icons-sfb87c8e1ff.png') 0 -135px no-repeat; width: 36px; height: 37px; }

.about__prod i { background: url('../img/icons-sfb87c8e1ff.png') 0 -323px no-repeat; width: 36px; height: 37px; }

.about__return i { background: url('../img/icons-sfb87c8e1ff.png') 0 -229px no-repeat; width: 36px; height: 37px; }

.about__help i { background: url('../img/icons-sfb87c8e1ff.png') 0 -88px no-repeat; width: 36px; height: 37px; }

.about__info i { background: url('../img/icons-sfb87c8e1ff.png') 0 -276px no-repeat; width: 36px; height: 37px; }

.about__conf i { background: url('../img/icons-sfb87c8e1ff.png') 0 -182px no-repeat; width: 36px; height: 37px; }

.clothes { margin-bottom: 20px; padding: 0 20px; }
.clothes li { padding: 18px 0; border-top: 1px solid #ddd; }
.clothes li:first-child { border: none; }
.clothes .h2 { margin-bottom: 15px; }

.clothes__column { -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 20px; -moz-column-gap: 20px; column-gap: 20px; }
.clothes__column p { padding-bottom: 15px; }
@media only screen and (min-width: 1220px) and (max-width: 1600px) { .clothes__column { -webkit-column-count: 3; -moz-column-count: 3; column-count: 3; } }
@media only screen and (min-width: 1600px) and (max-width: 1900px) { .clothes__column { -webkit-column-count: 4; -moz-column-count: 4; column-count: 4; } }

.clothes_border { border-bottom: 1px solid #ddd; }

.logo a, .copyright li:first-child a { font: 0/0 a; text-shadow: none; color: transparent; }
