@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";
//variables
$blue: #006699;
$red: #e41f32;
$gray: #333;
$visit: #663366;
// gradients for ie
$experimental-support-for-svg: true;
// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);
//extend
%block {
	
}
	
