@import "base";
* { 
	margin: 0; 
	padding: 0; 
	-webkit-text-size-adjust: none;
}
body {
	background: #f1f1f1;
	font: {
	  family: Helvetica, Arial, Tahoma, sans-serif;
	  weight: normal;
	  size: 12px;
	}
	// -webkit-transform: translate3d(0,0,0);
	// -weblit-backface-visibility: hidden;
}
// resets
a img, fieldset {
	border:none;
}
a {
	color: $blue;
}
li {
	list-style: none;
}
input, textarea, button {
	border: none;
	outline: none;
	font-family: Arial,sans-serif;
}
button {
	line-height: 1;
	cursor: pointer;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
// common styles
.h2 {
	font-size: 18px;
	font-weight: normal;
	color: #000;
}
.h3 {
	font-size: 14px;
}
.wrap, .container {	
	padding: 0 45px;
	@include respond-to(step1900) {
		width: auto;
	}
}
//header
.header {
	height: 50px;
	background: #009ccf;
}
.logo {
	float: left;	
	margin: 11px 0 0 20px;
	a {
		display: block;
		@include sized-sprite($icons, logo);
		@extend %hide-text;
	}
}
.nav {
	padding-top: 16px;
	ul {
		text-align: center;
	}
	li {
		display: inline-block;
		padding: 0 40px;
	}
	a {
		font-size: 14px;
		color: #fff;
		font-weight: bold;
		text-decoration: none;
		text-transform: uppercase;
	}	
}
.card-link {
	position: relative;
	float: right;
	margin: 16px 20px 0 0;
	padding-right: 30px;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	span {
		position: absolute;
		top: 0;
		right: 0;
		@include sized-sprite($icons, card);
	}
	b {
		position: absolute;
		top: -7px;
		right: -7px;
		padding: 0 4px;
		background: #e41f32;
		@include border-radius(50%);
		font-size: 11px;
	}
}
//profile
.profile {
	height: 52px;
	background: #ededed;
	@include box-shadow(rgba(0,0,0,0.08) 0 2px 4px);
	border-bottom: 1px solid #dedede;
}
.profile__subscribe {
	float: left;
	padding: 18px 0 0 20px;
	color: $gray;
	a {
		color: $blue;
		font-weight: bold;
		text-decoration: underline;
	}
}
.profile__account {
	float: right;
	padding: 18px 20px 0 0;
	a {
		color: $blue;
		font-weight: bold;
		text-decoration: underline;
	}
}
.profile__info {
	float: right;
	position: relative;
	width: 251px;
	height: 53px;
	margin-right: 20px;
}
.user {
	position: absolute;
	top: 0;
	left: 0;
	width: 251px;	
	@include border-radius(0 0 5px 5px);
	z-index: 10;
	ul {
		display: none;
		padding-top: 19px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #c6c6c6;
	}
	li {
		position: relative;
		margin-bottom: 19px;
		padding-left: 45px;
		i {
			position: absolute;
			top: 0;
			left: 20px;
		}
	}
	.user__exit {
		border: none;
	}
	&.active {
		background: #f1f1f1;
		@include box-shadow(rgba(0,0,0,0.1) 0 0 15px);
		.user__mail {
			border-bottom: 1px solid #c6c6c6;
			button {
				color: $red;
				border-color: $red;
			}
			i {
				@include sized-sprite($icons, arr2);
			}
			em {
				display: none;
			}
		}
		ul {
			display: block;
		}
	}
}
.user__mail {
	display: block;
	height: 52px;	
	padding-left: 20px;	
	line-height: 52px;
	button {
		position: relative;
		border-bottom: 1px dashed $blue;
		font-size: 12px;
		font-weight: bold;
		color: $blue;
	}
	i {
		position: absolute;
		top: 5px;
		right: -16px;
		@include sized-sprite($icons, arr1);
	}
	em {
		position: absolute;
		top: 19px;
		right: 0;
		height: 12px;
		border-right: 1px solid #ccc;
	}
}
.user__orders, .profile__returns, .user__exit {
	a {
		font-weight: bold;
	}
}
.user__id { i {@include sized-sprite($icons, ico1);}}
.user__orders { i {@include sized-sprite($icons, ico2);}}
.user__returns { i {@include sized-sprite($icons, ico3);}}
.user__setting { i {@include sized-sprite($icons, ico4);}}
.user__subscribe { i {@include sized-sprite($icons, ico5);}}
.user__account { i {@include sized-sprite($icons, ico6);}}
.user__expected { i {@include sized-sprite($icons, ico7);}}
.user__likes { i {@include sized-sprite($icons, ico8);}}
.user__friend { i {@include sized-sprite($icons, ico9);}}
.user__exit { i {@include sized-sprite($icons, ico10);}}
//footer 
.footer {
	padding: 20px 0;
	background: #000;
	.container {
		padding: 0 65px;
		overflow: hidden;
	}
}
.copyright {
	float: left;
	li {
		margin-bottom: 5px;
		&:first-child {
			margin-bottom: 12px;
			a {
				display: block;
				@include sized-sprite($icons, logo-s);
				@extend %hide-text;
			}	
		}
	}
	a {
		color: #fff;
		&:hover {
			color: $red;
		}
	}
}
.footer__nav {
	float: left;
	ul {
		float: left;
	}
	li {
		margin-bottom: 5px;
		&:first-child {
			padding: 7px;
			font-size: 14px;
			font-weight: bold;
			color: #fff;
		}
	}
	a {
		color: #fff;
		&:hover {
			color: $red;
		}
	}
}
.footer__adress {
	float: left;
	color: #fff;
	strong {
		display: block;
		padding: 7px 0;
		margin-bottom: 5px;
		font-size: 14px;
	}
	p {
		padding-top: 10px;
	}
}
.footer__social {
	float: left;
	color: #fff;
	li {
		margin-bottom: 15px;
		&:first-child {
			display: block;
			padding: 7px 0;
			margin-bottom: 5px;
			font-size: 14px;
			font-weight: bold;
		}
	}
	a {
		position: relative;
		padding-left: 30px;
		color: #fff;
		&:hover {
			color: $red;
			i {
				background-color: $red;
				@include box-shadow($red 0 0 15px 2px);
			}
		}
	}
	i {
		position: absolute;
		top: -4px;
		left: 0;
		@include border-radius(2px);
	}
}
.footer__social-vk { i {@include sized-sprite($icons, ft-vk);}}
.footer__social-fb { i {@include sized-sprite($icons, ft-fb);}}
.footer__social-pr { i {@include sized-sprite($icons, ft-pr);}}
//payment
.payment {
	float: left;
	padding-top: 15px;
	li {
		margin-bottom: 20px;
	}
}
.payment__vs {@include sized-sprite($icons, pay-vs);}
.payment__mc {@include sized-sprite($icons, pay-mc);}
.payment__pb {@include sized-sprite($icons, pay-pb);}
