@import "base";
* { 
	margin: 0; 
	padding: 0; 
	-webkit-text-size-adjust: none;
}
body {
	background: #f1f1f1;
	font: {
	  family: Helvetica, Arial, Tahoma, sans-serif;
	  weight: normal;
	  size: 12px;
	}
	// -webkit-transform: translate3d(0,0,0);
	// -weblit-backface-visibility: hidden;
}
// resets
a img, fieldset {
	border:none;
}
a {
	color: $blue;
}
li {
	list-style: none;
}
input, textarea, button {
	border: none;
	outline: none;
	font-family: Arial,sans-serif;
}
button {
	line-height: 1;
	cursor: pointer;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
// common styles
.h2 {
	font-size: 24px;
	font-weight: normal;
	color: #000;
}
.h3 {
	font-size: 14px;
}
.title {
	height: 64px;
	line-height: 64px;
	text-align: center;
}
.container {	
	max-width: 1900px;
	margin: 0 auto;
	padding: 0 20px;
	@include respond-to(step1) {
    width: 980px;
  }
  @include respond-to(step2) {
    width: auto;
  }
  @include respond-to(step3) {
    width: auto;
  }
  @include respond-to(step4) {
    width: auto;
  }
}
.container_oh {
	overflow: hidden;
}
//header
.header {
	background: #f4f4f4;
	.container {
		position: relative;
		height: 73px;
	}
}
.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -21px 0 0 -102px;	
	a {
		display: block;
		@include sized-sprite($icons, logo);
		@include retina() { @include sized-sprite($icons, logo_r);}
		@extend %hide-text;
	}
}
.user-link, .bonus-link {
	margin-top: 17px;
	b {
		position: relative;
		font-size: 14px;
		text-transform: uppercase;
	}
	i {
		position: absolute;				
	}
	p {
		margin-top: 6px;
	}
}
.user-link {
	float: left;
	margin-left: 20px;
	b {		
		padding-left: 25px;		
	}
	i {		
		top: -2px;
		left: 0;
		@include sized-sprite($icons, user-link);
		@include retina() { @include sized-sprite($icons, user-link_r);}
	}	
}
.bonus-link {
	float: right;
	margin-right: 20px;
	b {
		display: block;
		text-align: right;
		padding-right: 31px;
	}
	i {		
		top: 0px;
		right: 0;
		@include sized-sprite($icons, bonus-link);		
		@include retina() { @include sized-sprite($icons, bonus-link_r);}
	}
	a {
		font-weight: bold;
	}
}
//nav
.nav-wrap {	
	background: #000;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	.container {
		background: #000;
	}
}
.nav {
	text-align: center;
	font-size: 0;
	li {
		display: inline-block;
		height: 50px;
		padding: 0 40px;
		line-height: 50px;
		font-size: 14px;
	}
	a {
		color: #fff;
		text-decoration: none;		
		&.active {
			padding-bottom: 2px;
			border-bottom: 2px solid $red;
		}
	}
}
.phone {
	float: left;
	height: 50px;
	margin-left: 20px;	
	line-height: 50px;
	b {
		position: relative;
		padding-left: 30px;
	}
	i {
		position: absolute;
		top: 0;
		left: 0;
		@include sized-sprite($icons, phone);
		@include retina() { @include sized-sprite($icons, phone_r);}
	}
}
.cart-link {
	float: right;
	margin-right: 20px;
	height: 50px;	
	line-height: 50px;
	a {
		position: relative;
		padding-right: 32px;
		color: #fff;
		text-decoration: none;
	}
	i, span {
		position: absolute;
	}
	i {
		top: 1px;
		right: 9px;
		@include sized-sprite($icons, cart);
		@include retina() { @include sized-sprite($icons, cart_r);}
	}
	span {
		top: -4px;
		right: 0;
		height: 15px;
		padding: 0 4px;
		background: $red;
		@include border-radius(50%);
		line-height: 15px;
		color: #fff;
		font-size: 12px;
		font-weight: bold;	
		z-index: 10;	
	}
}
//footer 
.footer {
	position: relative;	
	background: #000;
	.container {		
		padding: 20px;
		background: #000;
		overflow: hidden;
	}
}
.footer__left {
	float: left;
	width: 80%;
	@include respond-to(step2) {
    float: none;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
    overflow: hidden; 
  }      
}
.footer__right {
	float: right;
	width: 20%;
	@include respond-to(step2) {
    float: none;
    width: 100%;
  } 
}
.copyright, .footer__nav-1, .footer__nav-2, .footer__adress {
	float: left;
}
.copyright {
	width: 30%;
	ul {
		padding-left: 20px;
	}
	li {
		margin-bottom: 5px;
		&:first-child {
			margin-bottom: 12px;
			a {
				display: block;
				@include sized-sprite($icons, logo-s);
				@extend %hide-text;
			}	
		}
	}
	a {
		color: #fff;
		&:hover {
			color: $red;
		}
	}
}
.footer__nav-1, .footer__nav-2 {
	ul {
		float: left;
	}
	li {
		margin-bottom: 5px;
		&:first-child {
			padding: 7px 0;
			font-size: 14px;
			font-weight: bold;
			color: #fff;
		}
	}
	a {
		color: #fff;
		&:hover {
			color: $red;
		}
	}
}
.footer__nav-1 {
	width: 25%;
}
.footer__nav-2 {
	width: 18%;
}
.footer__adress {
	width: 27%;
	color: #fff;
	strong {
		display: block;
		padding: 7px 0;
		margin-bottom: 5px;
		font-size: 14px;
	}
	p {
		padding-top: 10px;
	}
}
.footer__social {
	float: left;
	color: #fff;
	li {
		margin-bottom: 15px;
	}
	a {
		position: relative;
		padding-left: 30px;
		color: #fff;
		&:hover {
			color: $red;
			i {
				background-color: $red;
				@include box-shadow($red 0 0 15px 2px);
			}
		}
	}
	i {
		position: absolute;
		top: -3px;
		left: 0;
		@include border-radius(2px);
	}
	@include respond-to(step2) {
		float: none;
       	text-align: center;
       	font-size: 0;
       	li {
       		display: inline-block;
       		padding: 0 8px;
       		font-size: 12px;
       	}
    } 
    .footer__social-title {
	display: block;
	padding: 7px 0;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: bold;
		@include respond-to(step2) {
	       	display: none;
	    } 
	}
}
.footer__social-vk { 
	i {
		@include sized-sprite($icons, ft-vk);
		@include retina() { @include sized-sprite($icons, ft-vk_r);}
	}
}
.footer__social-fb { 
	i {
		@include sized-sprite($icons, ft-fb);
		@include retina() { @include sized-sprite($icons, ft-fb_r);}
	}
}
.footer__social-pr { 
	i {
		@include sized-sprite($icons, ft-pr);
		@include retina() { @include sized-sprite($icons, ft-pr_r);}
	}
}
//payment
.payment {
	float: right;
	padding: 15px 20px 0 0;
	li {
		margin-bottom: 20px;
	}
	@include respond-to(step2) {
       	float: none;
       	text-align: center;
       	font-size: 0;
       	li {
       		display: inline-block;
       		padding: 0 10px;
       	}
    } 
}
.payment__vs {
	@include sized-sprite($icons, pay-vs);
	@include retina() { @include sized-sprite($icons, pay-vs_r);}
}
.payment__mc {
	@include sized-sprite($icons, pay-mc);
	@include retina() { @include sized-sprite($icons, pay-mc_r);}
}
.payment__pb {
	@include sized-sprite($icons, pay-pb);
	@include retina() { @include sized-sprite($icons, pay-pb_r);}
}
