@import "base";
//main styles
//product
.actions {
	margin: 0 -5px 5px -5px;
	overflow: hidden;
}
.action {
	float: left;
	width: 50%;	
}
.action__inner {
	padding: 5px;
}
.action_big {
	width: 100%;
}
.action_adv {
	width: 50%;		
    @include respond-to(step4) {
       display: none;
    }
    @include respond-to(step5) {
       display: none;
    }
}
.action_adv-inner {
	height: 353px;
	line-height: 353px;
	margin: 5px;
	background: gray;
	border-bottom: 1px solid #ddd;
	span {
		display: block;
		text-align: center;
		font-size: 20px;
		color: #fff;
	}
}
.action_medium {
	width: 50%;
}
.action_small {
	width: 33.3333%;
}
.action_smallest {
	width: 33.3333%;
}
.action__pic {
	position: relative; 
	display: block;
	height: 250px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.action__discount {
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 80px;
	height: 80px;
	@include border-radius(50%);
	background: $red;
	text-align: center;
	color: #fff;
	strong {
		display: block;
		padding-top: 17px;
		margin-bottom: -5px;
		font-size: 27px;
	}
	span {
		font-size: 12px;
		text-transform: uppercase;
	}
}
.action__brand {
	height: 150px;
	padding-left: 20px;
	line-height: 150px;
}
.action__logo {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	img {
		display: block;
		&:nth-child(2) {
			margin-top: 28px;
		}
	}
}
.action__desc {
	padding: 18px 20px;
	background: #fff;
	border-bottom: 1px solid #ddd;
}
.action__title {
	a {
		font-size: 18px;
		color: $blue;
	}
	p {
		margin: 7px 0;
		font-size: 14px;
	}	
}
.action__info {
	overflow: hidden;
}
.action__time {
	position: relative;
	padding-left: 18px;
	font-size: 11px;
	i {
		position: absolute;
		top: 0;
		left: 0;
		@include sized-sprite($icons, clock);
	}
}
.action__view {
	float: right;
	font-size: 11px;
	a {
		margin-right: 3px;
		color: $blue;
		text-decoration: underline;
	}
	i {
		font-style: normal;
		color: $red;
	}
}
//banner
.banner {
	height: 125px;
	margin-bottom: 10px;
	background: #808080;
}
//soon
.soon {
	margin-bottom: 30px;
	background: #fff;
	border-bottom: 1px solid #ddd;
}
.soon__title {
	padding: 18px 20px 10px 20px;
}
.soon__list {
	padding: 0 10px;	
	overflow: hidden;
	ul {
		position: relative;
		bottom: -10px;
		overflow: hidden;
	}
	li {
		float: left;
		width: 25%;
		padding: 8px 10px;
		box-sizing: border-box;	
		@include respond-to(step3) {
       		width: 20%;
   		}	
   		@include respond-to(step4) {
       		width: 16.666%;
   		}
	}	
}
.soon__desc {
	border-bottom: 1px solid #ddd;
	a {
		font-size: 14px;
		font-weight: bold;
		&:hover {
			color: $red;
		}
		&:visited {
			color: $visit;
		}
	}
	p {
		height: 36px;
		padding: 5px 0 16px 0;
	}
}
//about
.about {
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	.h2 {
		padding: 0 0 10px 20px;
	}
}
.about__list {
	padding: 0 10px;		
	overflow: hidden;
	li {
		float: left;
		width: 33.3333%;
		padding: 8px 10px;
		box-sizing: border-box;	
		@include respond-to(step4) {
       		width: 16.6666%;
   		}
	}
}
.about__price, .about__prod, .about__return, .about__help, .about__info, .about__conf {
	position: relative;
	padding-left: 56px;
	//border-bottom: 1px solid #ddd;
	i {
		position: absolute;
		top: 9px;
		left: 0;
	}
	strong {
		display: block;
		margin-bottom: 5px;
		font-size: 14px;
	}
	p {
		padding-bottom: 15px;
	}
}
.about__price {i {@include sized-sprite($icons, ab1);}}
.about__prod {i {@include sized-sprite($icons, ab2);}}
.about__return {i {@include sized-sprite($icons, ab3);}}
.about__help {i {@include sized-sprite($icons, ab4);}}
.about__info {i {@include sized-sprite($icons, ab5);}}
.about__conf {i {@include sized-sprite($icons, ab6);}}
//clothes
.clothes {
	margin-bottom: 20px;
	padding: 0 20px;
	li {
		padding: 18px 0;
		border-top: 1px solid #ddd;
		&:first-child {
			border: none;
		}
	}
	.h2 {
		margin-bottom: 15px;
	}
}
.clothes__column {
	-webkit-column-count: 2;
	   -moz-column-count: 2;
	        column-count: 2;
	-webkit-column-gap: 20px;	
	   -moz-column-gap: 20px;		
	        column-gap: 20px;
	p {
		padding-bottom: 15px;
	}
	@include respond-to(step3) {
       	-webkit-column-count: 3;
	       -moz-column-count: 3;
	            column-count: 3;
   	}
	@include respond-to(step4) {
       	-webkit-column-count: 4;
	       -moz-column-count: 4;
	            column-count: 4;
   	}
}
.clothes_border {
	border-bottom: 1px solid #ddd;
}