@import "base";
//main styles
//product
.actions {
	margin: -5px;
	overflow: hidden;
}
.action {
	float: left;
	width: 50%;
}
.action__top {
	padding: 5px;
}
.action_big {
	width: 100%;
}
.action_medium {
	width: 50%;
}
.action_small {
	width: 33.3333%;
}
.action_smallest {
	width: 33.3333%;
}
.action__pic {
	position: relative; 
	height: 250px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
.action__discount {
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 80px;
	height: 80px;
	@include border-radius(50%);
	background: $red;
	text-align: center;
	color: #fff;
	strong {
		display: block;
		padding-top: 17px;
		margin-bottom: -5px;
		font-size: 27px;
	}
	span {
		font-size: 12px;
		text-transform: uppercase;
	}
}
.action__brand {
	height: 150px;
	padding-left: 20px;
	line-height: 150px;
}
.action__logo {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
	img {
		display: block;
		&:nth-child(2) {
			margin-top: 28px;
		}
	}
}
.action__desc {
	padding: 18px 20px;
	background: #fff;
}
.action__title {
	span {
		font-size: 18px;
		color: $blue;
		text-decoration: underline;
	}
	p {
		margin: 7px 0;
		font-size: 14px;
	}	
}
.action__info {
	overflow: hidden;
}
.action__time {
	position: relative;
	padding-left: 18px;
	font-size: 11px;
	i {
		position: absolute;
		top: 0;
		left: 0;
		@include sized-sprite($icons, clock);
	}
}
.action__view {
	float: right;
	font-size: 11px;
	span {
		margin-right: 3px;
		color: $blue;
		text-decoration: underline;
	}
	i {
		font-style: normal;
		color: $red;
	}
}
//banner
.banner {
	height: 125px;
	margin-bottom: 10px;
	background: #808080;
}
//soon
.soon {
	margin-bottom: 30px;
	background: #fff;
	border-bottom: 1px solid #ddd;
}
.soon__title {
	padding: 18px 20px 10px 20px;
}
.soon__list {
	padding: 0 10px;	
	overflow: hidden;
	ul {
		position: relative;
		bottom: -10px;
		overflow: hidden;
	}
	li {
		float: left;
		width: 16.66%;
		padding: 8px 10px;
		box-sizing: border-box;		
	}	
}
.soon__desc {
	border-bottom: 1px solid #ddd;
	a {
		font-size: 14px;
		font-weight: bold;
		&:hover {
			color: $red;
		}
		&:visited {
			color: $visit;
		}
	}
	p {
		height: 36px;
		padding: 5px 0 16px 0;
	}
}
//about
.about {
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	.h2 {
		padding: 0 0 10px 20px;
	}
}
.about__list {
	padding: 0 10px;		
	overflow: hidden;
	li {
		float: left;
		width: 16.66%;
		padding: 8px 10px;
		box-sizing: border-box;	
	}
}
.about__price, .about__prod, .about__return, .about__help, .about__info, .about__conf {
	position: relative;
	padding-left: 56px;
	//border-bottom: 1px solid #ddd;
	i {
		position: absolute;
		top: 9px;
		left: 0;
	}
	strong {
		display: block;
		margin-bottom: 5px;
		font-size: 14px;
	}
	p {
		padding-bottom: 15px;
	}
}
.about__price {i {@include sized-sprite($icons, ab1);}}
.about__prod {i {@include sized-sprite($icons, ab2);}}
.about__return {i {@include sized-sprite($icons, ab3);}}
.about__help {i {@include sized-sprite($icons, ab4);}}
.about__info {i {@include sized-sprite($icons, ab5);}}
.about__conf {i {@include sized-sprite($icons, ab6);}}
//clothes
.clothes {
	margin-bottom: 20px;
	padding: 0 20px;
	li {
		padding: 18px 0;
		border-top: 1px solid #ddd;
		&:first-child {
			border: none;
		}
	}
	.h2 {
		margin-bottom: 15px;
	}
}
.clothes__column {
	-webkit-column-count: 4;
	-webkit-column-gap: 20px;
	-moz-column-count: 4;
	-moz-column-gap: 20px;	
	column-count: 4;
	column-gap: 20px;
	p {
		padding-bottom: 15px;
	}
}
.clothes_border {
	border-bottom: 1px solid #ddd;
}